@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/block-centering/block-centering.css');
@import url('../blocks/header/header.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__avatar-container/profile__avatar-container.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__user-name/profile__user-name.css');
@import url('../blocks/profile/__user-description/profile__user-description.css');
@import url('../blocks/profile/__edit-button/profile__edit-button.css');
@import url('../blocks/profile/__edit-image/profile__edit-image.css');
@import url('../blocks/profile/__add-button/profile__add-button.css');
@import url('../blocks/profile/__add-image/profile__add-image.css');
@import url('../blocks/elements/elements.css');
@import url('../blocks/elements/__list/elements__list.css');
@import url('../blocks/element/element.css');
@import url('../blocks/element/__image/element__image.css');
@import url('../blocks/element/__container/element__container.css');
@import url('../blocks/element/__title/element__title.css');
@import url('../blocks/element/__like-button/element__like-button.css');
@import url('../blocks/element/__like-button/_active/element__like-button_active.css');
@import url('../blocks/element/__btn-trash/element__btn-trash.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/_view-image/popup_view-image.css');
@import url('../blocks/popup/__content/popup__content.css');
@import url('../blocks/popup/__image/popup__image.css');
@import url('../blocks/popup/__description/popup__description.css');
@import url('../blocks/form/__input/form__input.css');
@import url('../blocks/form/__input/_type/form__input_type_error.css');
@import url('../blocks/form/__input-error/form__input-error.css');
@import url('../blocks/form/__input-error/_active/form__input-error_active.css');
@import url('../blocks/form/__submit/form__submit.css');
@import url('../blocks/form/__submit/_disabled/form__submit_disabled.css');
@import url('../blocks/form/__close/form__close.css');
@import url('../blocks/form/__close-image/form__close-image.css');
