.element__btn-trash {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background: none;
  border: none;
  outline: none;
  background: url('../../../images/card/cardTrash.svg') 0 0 no-repeat;
  background-size: cover;
  cursor: pointer;
}

.element__btn-trash:hover {
  opacity: .6;
}
