.profile__user-description {
    max-width: 350px;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .profile__user-description {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        max-width: 250px;
    }
}
