.profile__user-name {
    max-width: 350px;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .profile__user-name {
        font-size: 27px;
        line-height: 33px;
    }
}
