.element__like-button {
    width: 22px;
    height: 19px;
    background: transparent url('../../../images/like/like.svg') 0 0 no-repeat;
    background-size: cover;
    border: none;
    line-height: 0;
    cursor: pointer;
}

.element__like-button:hover {
    opacity: .5;
}